{{#if authorized}}
{{#viewer}}  
  <a id="account" href="#">{{name}}</a>
  <a id="logout" href="#" title="ログアウト">
    <img src="/img/logout.png" alt="ログアウト">
  </a>
  <a id="omoide" href="#">思い出: <span id="fp" class="badge">{{fp}}</span></a>
{{/viewer}}  
{{else}}
  {{^loginHidden}}
    <a id="login" href="/login">ログイン</a>
  {{/loginHidden}}
{{/if}}
