{{#if authorized}}
{{#viewer}}  
  <span id="account">
    {{name}}
  </span>  
  <label for="fp">思い出</label>
  <span id="fp">{{fp}}</span>
{{/viewer}}  
{{else}}
  {{^signinHidden}}
    <a id="login" href="/login">ログイン</a>
  {{/signinHidden}}
{{/if}}
