{{#if authorized}}
{{#viewer}}  
  <a id="account" href="#">{{name}}</a>
  <label for="fp">思い出</label><span id="fp">{{fp}}</span>
{{/viewer}}  
{{else}}
  {{^loginHidden}}
    <a id="login" href="/login">ログイン</a>
  {{/loginHidden}}
{{/if}}
