<div {{#if isRegister}}id="register" action="/register"{{else}}id="login" action="/login"{{/if}} class="control">
<form>
  <div class="form-group">
    <input class="form-control input-lg" type="text" name="username" placeholder="ユーザ名">
  </div>
  <div class="form-group">
    <input class="form-control input-lg" type="text" name="password" placeholder="パスワード">
  </div>
  <div class="form-group">
    {{#if isRegister}}
      <button type="submit" class="btn btn-default">登録する</button>
    {{else}}
      <button type="submit" class="btn btn-default">ログイン</button>
    {{/if}}
  </div>
  <div class="form-group">
    {{#if isRegister}}
      <a class="navigate" href="/login">ユーザ名でログイン</a>
    {{else}}
      <a class="navigate" href="/register">登録する</a>
    {{/if}}
  </div>
  <div class="form-group">
    または、こういうアカウントを持っていると使えるよ。
    <br>
    Github・Twitter・Tumblr・Facebook
  </div>
</form>
</div>