<div id="username-dialog" class="control" style="left:50%; top:25%;"
     data-content="「てめえ、何者だ」"
     data-placement="top"></div>

<form id="register-form" action="/register" class="control col-md-4 col-xs-10">
  <section class="username slide">
    <div class="form-group">
      <input class="form-control input-lg" type="text" name="username" placeholder="ユーザ名">
    </div>
    <div class="form-group">
      <button id="username-ok" type="button" class="btn btn-default">だよ</button>
    </div>
  </section>
</form>
