<div id="register" action="/register" class="control col-md-4 col-xs-10">
<form>
  <div class="form-group">
    <input class="form-control input-lg" type="text" name="username" placeholder="ユーザ名">
  </div>
  <div class="form-group">
    <button id="username-ok" type="button" class="btn btn-default">だよ</button>
  </div>
</form>
</div>
