<div id="signin" class="control">
  <form action="/siginin" method="POST">
    <p>
      <label for="user-name">名前</label>
      <input type="text" id="user-name" name="user[name]">
    </p>
    <p>
      <label for="user-password">;パスワード</label>
      <input type="text" id="user-password" name="user[password]">
    </p>
  </form>
</div>
