<div id="main-panel" class="control">
  <div class="status">
    <img src="https://pbs.twimg.com/profile_images/378800000498211086/ba95b66797da37ea7be639e674b6fff4_bigger.jpeg">
  </div>
  <div id="mushies-panel" class="list-group">
  {{#mushies}}
  <a href="#" class="list-group-item" data-mushi-id={{id}}>{{name}} {{rank.name}}</a>
  {{/mushies}}
  </div>
</div>  