<div id="mushies-panel" class="control list-group">
  <span class="list-group-item">
    <h4 class="ligt-group-item-heading">{{owner.name}}ã®</h4>
  </span>
{{#mushies}}
<a href="#" class="list-group-item" data-mushi-id={{id}}>{{name}} {{rank.name}}</a>
{{/mushies}}
</div>

