{{#each user.bookPages}}
  <div class="entry col-md-4" data-number={{number}}>
    {{#if new}}<span class="new">NEW</span>{{/if}} No.{{number}}
    {{#if id}}
      <a class="thumbnail" href="#">
        <img class="img-rounded" src="/images/mushi_{{slug}}.png">
      </a>
    {{else}}
      <a class="thumbnail" href="#">
        <img class="img-rounded" src="/images/hatena.jpg">
      </a>
    {{/if}}
  </div>  
{{/each}}
