{{#page}}
  {{#if new}}
    <span class="new">NEW</span>
    <br>
  {{/if}}
  No.{{number}} {{name}}
  <img class="img-rounded" src="/images/mushi_{{slug}}.png">
  <div>
    <a href="#" class="back">もどる</a>
  </div>
{{/page}}
