<div>
  {{#belonging.item}}
  <p>
    効果: {{elementName element}}
  </p>
  <p>
    気持ちが「{{elementNextName element}}」のF虫をつかまえることができます。
  </p>
  {{/belonging.item}}
  <button class="btn btn-primary">使う</button>
</div>
