<div>
  {{#stock.item}}
  気持ちが「{{elementName element}}」のF虫をつかまえることができます。
  <br>
  <strong class="blink">
    <span class="glyphicon glyphicon-arrow-up element-icon-{{element}}"></span>
    ドラッグして使う
  </strong>
  {{/stock.item}}
</div>
