<div class="command control">
  <button class="book"><span class="glyphicon glyphicon-book"></span>ずかん</button>
  <span class="stocks"></span>
</div>  

<div class="toggle-button control">
  <span class="glyphicon glyphicon-minus"></span>
</div>

<div class="mushies control">
  <div class="own-mushies list-group"></div>
  <div class="wild-mushies list-group"></div>
</div>
