<div class="book-button control">
  <span class="glyphicon glyphicon-book"></span>
</div>  

<div class="belongings control"></div>

<h4 class="toggle-button control">
  <span class="glyphicon glyphicon-minus"></span>
  {{owner.name}}
</h4>

<div class="mushies control">
  <div class="own list-group">
  </div>
  <div class="wildness list-group">
  </div>
</div>
