<header>
  <div id="title">
    <h1 id="logo">F虫</h1>
  </div>
</header>

<img id="indicator" src="/img/indicator.gif" alt="読み込み中">

<div id="mushies-panel" class="control"></div>
<div id="mushi-dialog-origin" class="control"></div>

<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
