$red:  #DE7699;
$blue: #4CBAEB;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin element-circle {
  display: inline-block;
  padding: 0.5em;
}

.control {
  z-index: 1000;
  position: absolute;
}


.tooltip {
  z-index: 1000;
}

html,body {
  height: 100%;
}

.element-icon-red {
  color: $red;
}

.element-red {
  background-color: $red;
  border-color: $red;
  color: #fff;

  &.circle {
    @include element-circle;
    @include border-radius(50%)
  }
}

.element-icon-blue {
  color: $blue;
}

.element-blue {
  background-color: $blue;
  border-color: $blue;
  color: #fff;

  &.circle {
    @include element-circle;
    @include border-radius(50%)
  }
}

#indicator {
  position: absolute;
  top: 50%;
  left: 50%;
}

#content {
  min-height: 100%;

  &:after {
    content: "";
    display: block;
  }
}

.circle-ttl {
  color: #ffffff;
}

#message-footer {
  cursor: pointer;
  background: #028760;
  color: #fff;
  text-align: center;
  z-index: 1200 !important;
  vertical-align: middle;
  position: absolute;
  width: 100%;

  &.error {
    background: #f00;
  }

  p {
    padding: 1em 2em;
  }
}

#signup {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#menu {
  right: 1em;
  width: 100%;

  .toggle-button {
    bottom: 0.5em;
    right: 0;
    width: 7em;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    cursor: pointer;
  }

  .command {
    bottom: 0.5em;
    right: 8em;

    button.item {
      font-size: 0.75em;
      margin-right: 1em;
      border: 2px solid #1abc9c;
      border-radius: 6px;
      background-color: #ffffff;
    }

    .popover {
      color: #34495e;
    }
  }

  .mushies {
    top: 2em;
    right: 0;

    .mushi {
      font-size: 0.8em;
      width: 12em;
      word-wrap: break-word;
      text-align: left;
      margin-bottom: 0.5em;
    }
  }

  button {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
  }
}

#mushi-dialog-origin {
  top: 40%;
  width: 100%
}

#register-form {
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
  margin: 0 auto;

  input {
    margin: 0 auto;
  }
}

#login-form {
  position: absolute;
  top: 26%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.scene {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .slide-inner {
    margin: 0 auto;
    float: none;
  }
}
