#indicator {
  position: absolute;
  top: 50%;
  left: 50%;
}

.control {
  z-index: 1000;
  position: absolute;
}

.tooltip {
  z-index: 1000;
}

html,body {
  height: 100%;
}

#content {
  min-height: 100%;

  &:after {
    content: "";
    display: block;
  }
}

#message-footer {
  cursor: pointer;
  background: #028760;
  color: #fff;
  text-align: center;
  z-index: 1200 !important;
  vertical-align: middle;

  &.error {
    background: #f00;
  }

  p {
    padding: 1em 2em;
  }
}

#menu {
  top: 1em;
  right: 1em;
  width: 100%;

  .toggle-button {
    text-align: center;
    vertical-align: middle;
  }

  .belongings {
    .btn {
      margin-right: 5px;
    }
  }
}

#mushi-dialog-origin {
  top: 40%;
  left: 50%;
}

#register-form {
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
  margin: 0 auto;

  input {
    margin: 0 auto;
  }
}

#login-form {
  position: absolute;
  top: 26%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.scene {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .slide-inner {
    margin: 0 auto;
    float: none;
  }
}