#indicator {
  position: absolute;
  top: 50%;
  left: 50%;
}

.control {
  z-index: 1000;
  position: absolute;
}

.tooltip {
  z-index: 1000;
}


*[required],
.required {
  background-color: rgba(255, 221, 221, 0.7);
}

*[required].valid,
.required.valid {
  background-color: rgba(223, 240, 216, 1);
}

.caution {
  background-color: rgba(252, 248, 227, 1);
}

.invalid {
  background-color: rgba(255, 221, 221, 0.7);
}

.alphabet{
  ime-mode: disabled;
}

html,body {
  height: 100%;
}

#content {
  min-height: 100%;

  &:after {
    content: "";
    display: block;
  }
}

#message-footer {
  cursor: pointer;
  background: #028760;
  color: #fff;
  text-align: center;
  z-index: 1200 !important;
  vertical-align: middle;

  &.error {
    background: #f00;
  }

  p {
    padding: 1em 2em;
  }
}

#menu {
  top: 1em;
  right: 1em;

  #user-name {
    float: left;
    position: relative;
    vertical-align: middle;
    padding: 0 20px 30px;
    margin: 5px;
  }

  #user-mushies {
    position: relative;
    float: right;
  }
}

#mushi-dialog-origin {
  top: 40%;
  left: 50%;
}

#register-form {
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
  margin: 0 auto;

  input {
    margin: 0 auto;
  }
}

#login-form {
  position: absolute;
  top: 26%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.scene {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .slide-inner {
    margin: 0 auto;
    float: none;
  }
}